/*sets the style for all elements in the index.html*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*sets the style for elements within the body (lines 10-83)*/
body {
    background-color: #d9dcd6;
}
/*applies these style settings to everything within the header (lines 11-26)*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
}
/*this applies this color and text decoration to the a href elements located in nav (lines 16, 19, 22)*/
a {
    color: #ffffff;
    text-decoration: none;
}
/*this applies to this style to all paragraph elements*/
p {
    font-size: 16px;
}
/*style for the giant picture under the header (line 28)*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/*this applies these changes to the width, display type, and margins within the main section (lines30-52)*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*applies this styling to everything within the aside section (lines 54-76)*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*this section condenses 3 different classes into one. This class is applied to all the div elements within the aside section (lines 55, 62, 69)*/
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Applies this class style to figures within the main section (lines 31, 38, 45)*/
.web-body {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}


.web-body img {
    max-height: 200px;
}

.web-body h2 {
    margin-bottom: 20px;
    font-size: 36px;
}
/*this code represents the style for the footer class*/
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
